body {
  margin: 0px;
  padding:
}

.header {
  margin: 0px;
}

.logButton {
  position: absolute; /* This keeps the code stuck in a set position*/
  top: 0;
  right: 0;
  margin: 20px 30px;
}

.spartVal {
  position: absolute;
  top: 100px;
  left: 300px;
}
